.cart-yellow-container {
  display: flex;
  text-align: center;
  margin-bottom: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-yellow-img {
  margin-top: 105px;
  margin-bottom: 28px;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: transparent;
  width: 132px;
  height: 114px;
  /* background-color: var(--light-grey-cl); */
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
}
.cart-yellow-title {
  margin-bottom: 14px;
  color: var(--main-cl);
  font-size: 18px;
  line-height: 1.11em; /* 111.111% */
  font-style: normal;
  font-weight: 500;
}
.cart-yellow-span {
  color: var(--accent-cl);
}
.cart-yellow-text {
  color: rgba(1, 1, 1, 0.7);
  line-height: 1.29em; /* 128.571% */
}

@media (min-width: 768px) {
  .cart-yellow-img {
    width: 164px;
    height: 140px;
  }
}
