.cart-title-container {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 31px;
  margin-top: 33px;
}
.cart-title {
  color: var(--main-cl);
  font-size: 24px;
  font-weight: 500;
  line-height: 116.667%;
  text-transform: uppercase;
}

.cart-btn-del-all {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 610px;
  /* margin-right: 27px; */
  width: 96px;
  height: 24px;
  margin-bottom: 43px;
  color: var(--main-cl);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  border: none;
}

.cart-display-none {
  display: none;
}

.cart-item {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.cart-btn-close {
  position: absolute;
  display: flex;
  top: 0;
  left: 100%;

  /* border: none; */

  align-items: center;
  justify-content: center;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1  */
}
.cart-icon-basket {
  width: 18px;
  height: 18px;
}

.cart-item:not(:last-child) {
  margin-bottom: 80px;
}
.cart-img-container {
  padding: 18px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--white-cl);
}

.cart-img {
  width: 64px;
  height: 64px;
}
/* для планшета
.cart-img {
    width: 72px;
    height: 72px;
} */
.cart-item-title {
  margin-bottom: 10px;
  color: var(--main-cl);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
.cart-info-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 36px;
}
.cart-info {
  color: var(--grey-cl);
  font-size: 12px;
  line-height: 116.667%;
}
.cart-info span {
  color: var(--main-cl);
}
/* кнопка крестик
.modal-btn {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
} */
/* .modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
