<div class="cart-yellow-container visually-hidden">
  <!-- <img
    class="cart-yellow-img"
    src="./img/cart/yellow-shopping-basket.png "
    alt="yellow shopping basket "
  /> -->
  <picture class="cart-yellow-img">
    <source
      media="(max-width: 375px)"
      srcset="/img/cart/yellow shopping basket1m.webp 1x, /img/cart/yellow shopping basket2m.webp
   2x"
    />
    <source
      media="(min-width: 376px)"
      srcset="/img/cart/yellow shopping basket1p.webp 1x, /img/cart/yellow shopping basket2p.webp 2x "
    />
    <img src="/img/cart/yellow shopping basket2p.webp" />
    <!-- <img src="/src/img/cart/yellow shopping basket2p.webp" -->
  </picture>
  <h3 class="cart-yellow-title">
    Your basket is <span class="cart-yellow-span">empty...</span>
  </h3>
  <p class="cart-yellow-text">
    Go to the main page to select your favorite <br />
    products and add them to the cart.
  </p>
</div>

<!-- <source
  media="(min-width: 1440px)"
  srcset="/img/hero/hero-desctop-1x.webp 1x, /img/hero/hero-desctop-2x.webp 2x"
/>

<source
  media="(max-width: 767px)"
  srcset="/img/hero/hero-mobile-1x.webp 1x, /img/hero/hero-mobile-2x.webp 2x"
/>
<source
  media="(min-width: 768px)"
  srcset="/img/hero/hero-tablet-1x.webp 1x, /img/hero/hero-tablet-2x.webp 2x"
/> -->
