<!-- <div class="cart-title-container">
  <svg class="cart-icon-basket" width="18" height="18">
    <use href=".\img\icons\sprite.svg#icon-basket"></use>
  </svg>
  <h2 class="cart-title">Cart (0)</h2>
</div>
<div class="cart-yellow-container">
  <img
    class="cart-yellow-img"
    src="./img/cart/yellow shopping basket .jpg "
    alt="yellow shopping basket "
  />

  <h3 class="cart-yellow-title">
    Your basket is <span class="cart-yellow-span">empty...</span>
  </h3>
  <p class="cart-yellow-text">
    Go to the main page to select your favorite <br />
    products and add them to the cart.
  </p>
</div> -->
