<div class="cart-yellow-container visually-hidden">
  <img
    class="cart-yellow-img"
    srcset="
      /img/cart/yellow-shopping-basket-1d.webp 1x,
      /img/cart/yellow-shopping-basket-2d.webp 2x
    "
    src="/img/cart/yellow-shopping-basket-2d.webp"
    alt="yellow shopping basket "
  />

  <h3 class="cart-yellow-title">
    Your basket is <span class="cart-yellow-span">empty...</span>
  </h3>
  <p class="cart-yellow-text">
    Go to the main page to select your favorite <br />
    products and add them to the cart.
  </p>
</div>
