<div class="order-products">
  <h3 class="order-products-title">Your Order</h3>
  <div class="order-total">
    <div class="order-total-name">Total</div>
    <div class="order-total-value">
      Sum:<span class="order-products-sum">$0.00</span>
    </div>
  </div>
  <form class="order-products-form">
    <div class="order-products-form-input">
      <input
        type="email"
        required
        id="email"
        name="email_address"
        placeholder="Enter your email"
        pattern="^[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}$"
      />
      <label for="email">Mail:</label>
    </div>
    <button class="button" type="submit">Checkout</button>
  </form>
</div>
