<div class="cart-title-container cart-display-none">
  <svg class="cart-icon-basket icon-basket" width="18" height="18">
    <use href=".\img\icons\sprite.svg#icon-basket"></use>
  </svg>
  <h2 class="cart-title"></h2>
</div>

<div class="cart-btn-wrap">
  <button name="button" class="cart-btn-del-all cart-display-none">
    Delete all
    <svg class="cart-icon-all" width="24" height="24">
      <use href=".\img\icons\sprite.svg#icon-close"></use>
    </svg>
  </button>
</div>

<ul class="cart-item-container"></ul>
<!-- <li class="cart-item" data-id="_id">
  <div class="cart-container-wrap">
    <div class="cart-item-wrap">
      <div class="cart-img-container">
        <img class="cart-img" src="" alt="" />
      </div>
      <div class="cart-img-text">
        <h3 class="cart-item-title">Avocado</h3>
        <div class="cart-info-container">
          <p class="cart-info">
            Category:
            <span>Fresh Produce</span>
          </p>
          <p class="cart-info">
            Size:
            <span>Each</span>
          </p>
        </div>
        <h3 class="cart-info-price">$1.99</h3>
      </div>
    </div>
    <div class="cart-btn-wrap">
      <button name="button" type="button" class="cart-btn-close">
        <svg class="cart-icon-basket">
          <use href=".\img\icons\sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</li> -->
