<div class="product-list-container">
  <div class="cart-title-container">
    <div class="cart-wrap-basket">
      <svg class="cart-icon-basket" width="18" height="18">
        <use href="/img/icons/sprite.svg#icon-basket"></use>
      </svg>
    </div>
    <h2 class="cart-title"></h2>
  </div>

  <div class="cart-btn-wrap">
    <button name="button" class="cart-btn-del-all">
      Delete all
      <svg class="cart-icon-all" width="24" height="24">
        <use href="/img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <ul class="cart-item-container cart-scrol"></ul>
</div>
