<footer class="footer">
  <div class="container footer-container">
    <div class="footer-logo">
      <div class="footer-icons">
        <a href="./index.html" class="link-logo" aria-label="logo">
          <svg class="logo">
            <use href="./img/icons/sprite.svg#icon-logo-footer"></use>
          </svg>
        </a>
        <ul class="list-social">
          <li class="item-social">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              aria-label="Facebook"
            >
              <svg class="logo-social" width="40" height="40">
                <use href="./img/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="item-social">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="item-logo"
              aria-label="instagram"
            >
              <svg class="logo-social" width="40" height="40">
                <use href="./img/icons/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="item-social">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              aria-label="Youtube"
            >
              <svg class="logo-social" width="40" height="40">
                <use href="./img/icons/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="motto">
        <h2 class="first-motto">Discover the Variety of Flavors and Quality</h2>
        <p class="second-motto">
          An online store where you will find fresh, natural and delicious
          products for a healthy life and unforgettable gastronomic adventures.
        </p>
      </div>
    </div>
    <div class="bottom-footer">
      <p class="email-title">Subscribe and learn about new products!</p>
      <form class="form-footer">
        <label class="email-label">
          <input
            class="input-label"
            type="email"
            name="email"
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$"
            required=""
            placeholder="Email"
            maxlength="64"
            minlength="6"
          />
        </label>
        <button
          type="submit"
          class="subscribe"
          id="data-modal-open"
          aria-label="Send email button"
        >
          Send
        </button>
      </form>
    </div>
    <div class="about">
      <div class="services-list">
        <p class="services">Food Boutique. All rights reserved.</p>
        <div class="privacy-wrap">
          <p class="services-one">Privacy Policy</p>
          <span class="slash">/</span>
          <p class="services-one">Terms of Service</p>
        </div>
      </div>
    </div>
  </div>
</footer>
