<header class="header">
  <div class="header-container container">
    <div class="header-logo">
      <a class="header-logo-link" href="./index.html">
        <svg class="header-logo-svg">
          <use href="./img/icons/sprite.svg#icon-logo-header"></use>
        </svg>
      </a>
    </div>
    <nav class="header-navigation">
      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a class="header-navigation-home" href="./index.html">Home</a>
        </li>
        <li class="header-navigation-item">
          <a class="" href="./cart.html">
            <span class="header-navigation-cart">
              <svg class="header-logo-busket">
                <use href="./img/icons/sprite.svg#icon-basket"></use>
              </svg>
            </span>
          </a>
          <!-- <span class="header-navigation-link">Cart (0)</span> -->
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="./cart.html">Cart (0)</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
