<header class="header">
  <div class="header-container container">
    <div class="header-logo">
      <a class="header-svg-link" href="./index.html"
        ><img class="header-logo-svg" src="./img/logo-header.svg" alt="Logo"
      /></a>
      <a class="header-logo-link" href="./index.html">
        <!-- <svg class="header-logo-svg" width="16" height="16">
          <use href="./img/icons/sprite.svg#icon-logo-header"></use>
        </svg> -->
        Food Boutique</a
      >
      <img
        class="food-boutique-icon"
        src="./img/food-boutique-icon.svg"
        alt="Food Boutique"
      />
    </div>

    <nav>
      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a class="header-navigation-home" href="./index.html">Home</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-cart" href="./cart.html">
            <img
              class="header-logo-busket"
              src="./img/header-busket-logo.svg"
              alt="Busket"
            />
            <!-- <svg class="header-logo-busket" width="16" height="16">
                <use href="./index.html/src/img/icons.svg#icon-basket"></use>
              </svg> -->
          </a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="./cart.html">Cart (0)</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
