/* Mobile */
.footer {
  background-color: #6d8434;
  padding: 40px 0 20px 0;
}
.list-social {
  display: flex;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.logo {
  width: 154px;
  height: 28px;
}

.logo-social {
  opacity: 0.8;
  fill: #e8e8e2;
  padding: 8px;
  border: 1px solid #e8e8e2;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.logo-social:hover,
.logo-social:focus {
  background: rgba(232, 232, 226, 0.2);
}
.first-motto {
  color: #e8e8e2;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 14px;
}

.second-motto {
  color: rgba(232, 232, 226, 0.7);
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 80px;
}

.email-title {
  color: #e8e8e2;
  font-size: 14px;
  line-height: 1.28;
  margin-bottom: 20px;
}
::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-size: 14px;
  line-height: 1.28;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.input-label {
  border: 1px solid #e8e8e2;
  border-radius: 30px;
  width: 100%;
  height: 42px;
  background-color: #6d8434;
  margin-bottom: 14px;
  padding-left: 18px;
  outline: none;
  color: #e8e8e2;
  transition: all 300ms ease-in-out;
}
.input-label:focus,
.input-label:hover {
  border-color: #3dc3ba;
}

.subscribe {
  border: none;
  border-radius: 30px;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
  height: 42px;
  margin-bottom: 80px;
  font-weight: 500;
  transition: all 300ms ease-in-out;
  background-color: #e8e8e2;
  color: var(--main-cl);
}
.subscribe:hover,
.subscribe:focus {
  color: #6d8434;
}
.privacy-wrap {
  display: flex;
  gap: 8px;
}

.services-list {
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
}
.bottom-footer {
  display: flex;
  flex-direction: column;
}
.services {
  color: #e8e8e2;
  opacity: 0.9;
  font-size: 14px;
  line-height: 1.28;
  margin-right: 55px;
}
.services-one,
.slash {
  color: #e8e8e2;
  font-size: 14px;
  line-height: 1.28;
}

/* Tablet */
@media (min-width: 768px) {
  .footer-container {
    display: block;
    gap: 78px;
    background-color: #6d8434;
  }
  .logo {
    width: 197px;
    height: 32px;
    margin-left: -10px;
  }

  .footer-logo {
    display: flex;
  }
  .footer-icons {
    width: 197px;
    margin-right: 78px;
  }
  .first-motto {
    color: #e8e8e2;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .second-motto {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    margin-right: 32px;
    margin-bottom: 64px;
  }
  .email-title {
    color: #e8e8e2;
    opacity: 1;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    margin-right: 117px;
  }
  .input-label,
  .subscribe {
    width: 335px;
    height: 42px;
  }
  .input-label {
    margin-bottom: 20px;
  }
  .subscribe {
    margin-bottom: 120px;
  }
  .form-footer {
    display: flex;
    flex-direction: column;
    margin-right: 93px;
  }
  .services {
    color: #e8e8e2;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-right: auto;
  }
  .services-list {
    display: flex;
    margin-top: 0px;
  }
  .bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
/* Desktop */
@media (min-width: 1440px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
  .footer-logo {
    display: flex;
    padding-top: 0;
    margin-bottom: 128px;
  }
  .footer-icons {
    margin-right: 149px;
  }
  .motto {
    width: 410px;
  }
  .second-motto {
    margin: 0;
  }
  .bottom-footer {
    display: block;
    margin-left: auto;
  }
  .email-title {
    margin-right: 0;
  }
  .form-footer {
    margin-right: 0;
  }
  .input-label,
  .subscribe {
    width: 335px;
    height: 42px;
  }
  .subscribe {
    margin-bottom: 0;
  }

  .about {
    width: 100%;
  }
}
