/* styles for popular products */

.popular-section {
  max-width: 335px;
  background: var(--light-grey-cl);
  margin-bottom: 80px;

  @media screen and (min-width: 768px) {
    max-width: 704px;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 275px;
    margin-bottom: 40px;
  }
}

.section-title {
  color: var(--main-cl);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.14;
  }
}

.popular-list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media screen and (min-width: 768px) {
    gap: 13px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.popular-item {
  width: 100%;
  border-radius: 10px;
  background: var(--white-cl);
  padding: 12px;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  max-width: 335px;
  height: 98px;

  display: flex;
  gap: 10px;

  @media screen and (min-width: 768px) {
    max-width: 275px;
  }
}

.popular-item:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
}

.wrapper-img {
  width: 74px;
  height: 74px;
  padding: 9px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--light-grey-cl);
}

.popular-product-info {
  display: flex;
  height: 74px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  flex-grow: 1;
}

.product-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  width: 124px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.product-category,
.product-text {
  color: var(--grey-cl);
  font-size: 12px;
  line-height: 1.17;
}

.product-text span,
.product-category span {
  color: var(--main-cl);
}

.product-text {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.product-text:first-child {
  margin-right: 9px;
}

.product-category {
  margin-bottom: 9px;

  margin-top: 12px;
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
}

.discount-section {
  @media screen and (min-width: 1440px) {
    max-width: 275px;
  }
}

.discount-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1440px) {
    gap: 20px;
  }
}

.discount-item {
  max-width: 335px;
  width: 100%;
  height: 232px;
  border-radius: 15px;
  background: var(--white-cl);
  padding: 16px;
  cursor: pointer;
  transition: 300ms all ease-in-out;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1440px) {
    width: 275px;
  }

  position: relative;
}

.discount-item:hover {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
}

/* --------Відображаємо тільки перших два продукта */
.discount-item:nth-child(n + 3) {
  display: none;
}

.wrap-img {
  width: 100%;
  height: 150px;
  padding: 18px auto;
  border-radius: 10px;
  background: var(--light-grey-cl);
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 16px;
}

.discount-item img {
  width: 114px;
  height: 114px;
}

.discount-product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount-product-info .product-name {
  flex-grow: 1;
}

.product-price {
  color: var(--main-cl);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 8px;
}

/* -----------------стіли для зеленої корзинки  */

.btn-basket {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
}

.svg-basket {
  width: 100%;
  height: 100%;
  display: flex;
  fill: var(--light-grey-cl);
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: var(--accent-cl);
}

.svg-basket:hover {
  background-color: #586f1f;
}

.svg-discount {
  position: absolute;
  top: 3px;
  right: 10px;

  @media screen and (min-width: 1440px) {
    top: -3px;
  }
}

/* --------Світла іконка корзинки на картці Popular products-------- */
.popular-info-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-light-basket {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: var(--white-cl);
}

.light-basket {
  display: flex;
  width: 100%;
  height: 100%;
  display: inline-flex;
  fill: var(--accent-cl);
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: var(--light-grey-cl);
  transition: all 300ms ease-in-out;
}

.light-basket:hover {
  fill: var(--light-grey-cl);
  background-color: var(--accent-cl);
}

/* ----------------стилі для галочки на  зелену корзинку */
.svg-checkmark {
  width: 34px;
  height: 34px;
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--accent-cl);
  fill: none;
  stroke: var(--light-grey-cl);
}
