<div class="modal-backdrop-subscription is-hidden">
  <div class="modal-subscription visually-hidden">
    <div class="modal_subcont">
      <button class="close" aria-label="Close modal window">
        <svg class="icon-close">
          <use href="./img/icons/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-subtext">
        <h2 class="title-sub">
          Thanks for subscribing for <span class="span-text">new</span> products
        </h2>
        <p class="paragraph-sub">
          We promise you organic and high-quality products that will meet your
          expectations. Please stay with us and we promise you many pleasant
          surprises.
        </p>
        <picture class="modal-subscription-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/modal-subscription/desc1x.webp 1x,
              /img/modal-subscription/desc2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/modal-subscription/tab1x.webp 1x,
              /img/modal-subscription/tab2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/modal-subscription/mob1x.webp 1x,
              /img/modal-subscription/mob2x.webp 2x
            "
          />

          <img
            src="/img/modal-subscription/desc2x.webp"
            alt="vegetable"
            class="modal-img"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="modal-unsubscription visually-hidden">
    <div class="modal-unsubcont">
      <button class="close" aria-label="Close modal window">
        <svg class="icon-close">
          <use href="./img/icons/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal-unsubtext">
        <h3 class="title-unsub">
          This <span class="span-text">email address</span> has already been
          entered
        </h3>
        <p class="paragraph-unsub">
          You have already subscribed to our new products. Watch for offers at
          the mailing address.
        </p>
      </div>
    </div>
  </div>
</div>
