<div class="main-content">
  <div class="info-query visually-hidden">
    <h3 class="info-text">
      Nothing was found for the selected
      <span class="info-word">filters...</span>
    </h3>
    <p class="info-message">
      Try adjusting your search parameters or browse our range by other criteria
      to find the perfect product for you.
    </p>
  </div>
  <ul class="photo-card product-list"></ul>
  <div class="pagination">
    <button
      type="button"
      class="pagination-arrow-btn pagination-left-btn"
      data-page="prev-page"
      aria-label="Previous page"
    >
      <svg class="icon-arrow" width="24" height="24">
        <use href="./img/icons/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <div class="pagination-btn-wrap"></div>

    <button
      type="button"
      class="pagination-arrow-btn pagination-right-btn"
      data-page="next-page"
      aria-label="Next page"
    >
      <svg class="icon-arrow" width="24" height="24">
        <use href="./img/icons/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
