<aside class="sidebar">
  <section class="popular-section">
    <h2 class="section-title">Popular products</h2>
    <ul class="popular-list"></ul>
  </section>
  <section class="discount-section">
    <h2 class="section-title">Discount products</h2>
    <ul class="discount-list">
      <!-- <li class="discount-item" data-id="">
        <svg class="svg-basket" width="60" height="60">
          <use class="href-icon" href="${sprite}#icon-discount-mark"></use>
        </svg>
        <div class="wrap-img">
          <img
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e380b.png"
            alt="Blackberries"
          />
        </div>
        <div class="discount-product-info">
          <h3 class="product-name">Blackberries</h3>
          <p class="product-price">$4.99</p>
          <button type="button" class="btn-basket">
            <svg class="svg-basket" width="34" height="34">
              <use class="href-icon" href="${sprite}#icon-basket"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="discount-item" data-id="">
        <div class="wrap-img">
          <img
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e3814.png"
            alt="Almonds"
          />
        </div>
        <div class="discount-product-info">
          <h3 class="product-name">Almonds</h3>
          <p class="product-price">$8.99</p>
        </div>
      </li> -->
    </ul>
  </section>
</aside>
