<section class="filters-section filters">
  <div class="container filter-field">
    <h2 class="filter_title">Filters:</h2>
    <form class="form filter_form" action="submit">
      <div class="filter_field">
        <div class="search-filter">
          <input
            type="text"
            class="keyword search-input input_name"
            placeholder="Search for anything"
          />
          <button class="filter_button">
            <svg class="icon-filter" width="20" height="20">
              <use href="./img/icons/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </div>

      <!-- ! -->

      <div class="filter_field">
        <select
          class="category-list select-filter search-input"
          name="category-list"
        >
          <option value="show-all">Show all</option>
          <option value="" disabled selected hidden>Categories</option>
        </select>
        <div class="filter_icon_position">
          <svg width="20" height="20" class="icon-filter">
            <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
          </svg>
        </div>
      </div>

      <!-- ! -->
      <div class="filter_field">
        <div id="local">
          <select
            id="selectElement"
            class="filters-all-param-list select-filter search-input js-choice"
            name="filters-all-param-list"
          >
            <option value="byAtoZ" selected>A to Z</option>
            <option value="byZtoA">Z to A</option>
            <option value="byCheaperfirst">Cheaper first</option>
            <option value="byExpensivefirst">Expensive first</option>
            <option value="byPopular">Popular</option>
            <option value="byNotpopular">Not popular</option>
          </select>
        </div>
        <div class="filter_icon_position">
          <svg width="20" height="20" class="icon-filter">
            <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
          </svg>
        </div>
      </div>
    </form>
  </div>
</section>
