<section class="hero-section">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-text">
        Welcome to the <span class="highlight">Food</span> Boutique!
      </h1>
      <p class="hero-desc">
        With Food Boutique, you're not just subscribing to food, you're signing
        up for a fresher, fitter, and happier you.
      </p>
      <div class="hero-svg-container">
        <picture class="hero-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/hero/hero-desctop-1x.webp 1x,
              /img/hero/hero-desctop-2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/hero/hero-tablet-1x.webp 1x,
              /img/hero/hero-tablet-2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/hero/hero-mobile-1x.webp 1x,
              /img/hero/hero-mobile-2x.webp 2x
            "
          />

          <img
            src="/img/hero/hero-desctop-2x.webp"
            alt="basket"
            width="1240px"
            height="350px"
          />
        </picture>
        <svg class="hero-svg" width="100" height="100">
          <use href="./img/icons/sprite.svg#icon-organic-food-mark"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
