.modal-product{
    position: fixed;
    width: 335px;
    height: 535px;
    background-color:#FAFAFA;
    border-radius: 20px;
}
.clouse_modal{
   position: absolute;
    top: 20px;
    right: 20px;
}
