.modal-product {
  position: absolute;
  padding: 40px 20px;
  width: calc(100% - 40px);
  height: 535px;
  background-color: #fafafa;
  border-radius: 20px;
  transform: scale(1);
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.clouse_modal {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: #fafafa;
  transition: all 300ms ease-in-out;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clouse_modal:hover,
.clouse_modal:focus {
  background-color: rgba(1, 1, 1, 0.1);
}

.svg-basket3 {
  z-index: 2;
  width: 22px;
  height: 22px;
}
.img_modal2 {
  width: 100%;
  background: #e8e8e2;
  padding: 26px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-product2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  color: var(--main-cl);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.descr-product2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 9px;
  color: var(--main-cl);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

.desc-text {
  margin-top: 20px;
}
.textModalp {
  max-height: 90px;
  overflow-y: auto;
  color: rgba(1, 1, 1, 0.7);
  font-size: 14px;
  line-height: 18px;
}

.footer-product_card2 {
  position: absolute;
  bottom: 40px;
}
.end-modal {
  position: absolute;
  bottom: 40px;
  right: 20px;
}
.modal-product-inWindow {
  height: 455px;
}
.price-product2 {
  color: var(--main-cl);
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  font-size: 20px;
  line-height: 1.2;
  margin-right: 30px;
}
.svg-basket2 {
  fill: var(--white-cl);
}
.modal-button {
  display: flex;
  align-items: center;
  background-color: var(--accent-cl);
  box-shadow: none; /* Убираем тень */
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
}
.textInButton {
  color: #e8e8e2;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-right: 10px;
}

.TestDiv1 {
  display: grid;
}

@media screen and (min-width: 375px) {
  .modal-product {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .img_modal2 {
    width: 240px;
    height: 212px;
    padding: 26px 0;
  }

  .clouse_modal {
    width: 33px;
    height: 33px;
    top: 24px;
    right: 24px;
  }

  .svg-basket3 {
    z-index: 2;
    width: 28px;
    height: 28px;
  }

  .desc-text {
    margin-top: 24px;
  }

  .textModalp {
    font-size: 16px;
    line-height: 20px;
  }

  .modal-button {
    padding: 10px 28px;
  }
  .textInButton {
    font-size: 16px;
    line-height: 20px;
  }

  .modal-product {
    width: 600px;
    height: 380px;
    padding: 40px 40px;
  }
  .modal-product-inWindow {
    height: 300px;
  }

  .testDiv {
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .TestDiv1 {
    display: flex;
    gap: 24px;
  }
  .name-product2 {
    margin-top: 0px;
  }
  .end-modal {
    right: 40px;
  }
}
