.hero-container {
  margin-top: 110px;
  padding: auto;
}

.hero-text {
  color: var(--main-cl);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.09em;
  letter-spacing: -0.88px;
  margin-bottom: 16px;
}

.highlight {
  color: var(--accent-cl);
  font-family: Neue Montreal;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.88px;
}

.hero-desc {
  margin: auto;
  color: rgba(1, 1, 1, 0.8);
  text-align: center;
  font-family: Neue Montreal;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  max-width: 292px;
}

.hero-svg-container {
  position: relative;
}

.hero-svg {
  position: absolute;
  right: 8px;
  top: -7px;
}

.hero-img img {
  border-radius: 25px;
  margin-top: 32px;
  margin-bottom: 74px;
}

@media (min-width: 768px) {
  .hero-text {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 20px;
  }
  .highlight {
    font-size: 80px;
    line-height: 80px;
  }
  .hero-desc {
    font-size: 18px;
    line-height: 1.33;
    max-width: 492px;
  }
  .hero-img img {
    margin-top: 40px;
  }

  .hero-svg {
    right: 10px;
    top: -30px;
  }
}

@media (min-width: 1440px) {
}

.hero-svg {
  right: 20px;
  top: -50px;
}
